<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Toodloo-To-Do</title>
</head>
<body>
  <h1>Welcome to Toodloo-To-Do</h1>
  <p>Get started by signing in or creating an account.</p>
  
  <!-- Link to the Login Page -->
  <a href="<%= new_user_session_path %>" class="btn btn-primary">Log In</a>
  
  <!-- Link to the Registration Page -->
  <a href="<%= new_user_registration_path %>" class="btn btn-secondary">Sign Up</a>
</body>
</html>
