<div id="tasks_list">
    <h2>Tasks Due on <%= @selected_date %></h2>
  
  <!-- List of Tasks -->
    <% if @tasks.present? %>
        <ul>
            <% @tasks.each do |task| %>
                <li>
                    <%= task.title %> - 
                    <%= link_to 'Details', task, remote: true, class: 'task_details_link', data: { id: task.id } %>
                </li>
            <% end %>
        </ul>
    <% else %>
        <p>You have no tasks due today</p>
    <% end %>
</div>
