/* Custom CSS for the minimalist navbar */

/* Remove Bootstrap styling */
.navbar {
  background-color: transparent;
  border: none;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-color: #333; /* Customize the toggler icon color */
}

/* Navbar links */
.navbar-nav .nav-link {
  color: #333; /* Customize the link color */
  padding: 0.5rem 1rem; /* Adjust spacing */
  transition: color 0.3s ease; /* Smooth color transition on hover */
  margin: 5px;

  &:hover {
    color: #555; /* Change link color on hover */
  }
}



/* Active link */
.navbar-nav .nav-item.active .nav-link {
  font-weight: bold; /* Highlight active link */
}
