@import 'custom';
@import 'navbar';
@import 'new_task_form';
@import 'search_user_tasks_form';
@import 'tasklist';

.page-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.new-task-button {
    margin: 20px;
}

/* tables containing lists of tasks */
.table-container {
    max-height: 500px;
    /* Limit the table height */
    overflow-y: auto;
    /* Enable vertical scroll for large lists */
}

/* Style buttons */
.btn {
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 5px;

    &.btn-info {
        background-color: #007bff;
        color: #fff;
    }

    &.btn-success {
        background-color: #28a745;
        color: #fff;
    }

    &.btn-warning {
        background-color: #ffc107;
        color: #212529;
    }

    &.btn-danger {
        background-color: #dc3545;
        color: #fff;
    }
}

