/* Navbar */
.navbar {
    background-color: #333;
    /* Background color */
    color: #fff;
    /* Text color */
    padding: 10px 0;
    /* Add padding to the top and bottom */
}

.navbar a {
    color: #fff;
    /* Text color for links */
}

/* Nav items */
.nav-item {
    margin-right: 10px;
    background-color: #ccc;
    border-radius: 4px;
    padding: 10px;
    /* Add spacing between items */
}

.nav-item:hover {
    background-color: #999;
    color: #ccc;
    /* Text color when hovering over buttons */
}

/* Active item */
.navbar-nav .nav-item.active {
    border-bottom: 2px solid #fff;
    /* Highlight active item with a bottom border */
}

/* Buttons */
.nav-link {
    background-color: transparent;
    /* Remove background color */
    border: none;
    /* Remove borders */
    color: #333
    /* Text color for buttons */
}

.navbar-items {
    display:flex;
    flex-direction: row;
    justify-content: center;

}

.navbar-brand {
    margin: 15px;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}